<div class="flex justify-start items-start flex-col gap-4" id="contact">
  <h1 class="text-content-highlight text-2xl">CONTACT</h1>
  <h2 class="text-content-light text-3xl">Let's work together!</h2>
  <h2 class="text-content-dark text-xl">
    Have a project in mind or just want to chat? Drop me a message and I'll get
    back to you as soon as I can.
  </h2>
  <div
    class="flex flex-col gap-8 w-full"
    *ngIf="!isLoading && !sendingMessage && feedbackMessage === ''"
  >
    <div class="w-3/6 full-screen">
      <label for="name" class="text-content-light">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Your name"
        class="w-full p-2 border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-green-700 text-content-light w-full"
      />
    </div>
    <div class="w-3/6 full-screen">
      <label for="email" class="text-content-light">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Your email"
        class="w-full p-2 border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-green-700 text-content-light w-full"
      />
    </div>
    <div class="w-3/6 full-screen">
      <label for="message" class="text-content-light">Message</label>
      <textarea
        id="message"
        name="message"
        placeholder="Tell me about your project..."
        rows="5"
        class="w-full p-2 border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-green-700 text-content-light resize-none w-full"
      ></textarea>
    </div>
    <div>
      <button
        (click)="onSubmit()"
        class="px-6 py-2 flex justify-center small-screen items-center gap-2 button-primary lime rounded-md hover:brightness-125 transition-colors duration-300"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#000000"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-send size-4"
        >
          <path
            d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z"
          ></path>
          <path d="m21.854 2.147-10.94 10.939"></path>
        </svg>
        <span>Send Message</span>
      </button>
    </div>
  </div>
  <div class="w-full">
    <div>
      <div class="loader" *ngIf="isLoading"></div>
      <p
        class="text-content-dark text-lg"
        *ngIf="isLoading && sendingMessage && !isSuccess"
      >
        Sending your message...
      </p>
    </div>

    <div
      [ngClass]="isSuccess ? 'border-green-700' : 'border-red-700'"
      class="text-content-light text-lg border p-4 rounded-md flex items-center gap-2 w-full"
      *ngIf="!isLoading && !sendingMessage && feedbackMessage !== ''"
    >
      <svg
        *ngIf="isSuccess"
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="34px"
        fill="#10b77f"
      >
        <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
      </svg>
      <svg
        *ngIf="!isSuccess"
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#e53e3e"
      >
        <path
          d="M508.5-291.5Q520-303 520-320t-11.5-28.5Q497-360 480-360t-28.5 11.5Q440-337 440-320t11.5 28.5Q463-280 480-280t28.5-11.5ZM440-440h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"
        />
      </svg>
      <span>{{ feedbackMessage }}</span>
    </div>
  </div>
</div>
