<div class="flex justify-center items-center flex-col gap-8 p-6">
  <app-work-status></app-work-status>
  <h1 class="text-content-light text-5xl font-serif font-bold">Sphiwe Nyoni</h1>
  <p class="text-content-dark text-lg">Fullstack Software Engineer</p>
  <div class="flex justify-center items-center gap-4">
    <a
      href="/"
      class="flex justify-center items-center gap-2 border border-solid border-green-500 lime p-2 px-4 rounded-md hover:brightness-125 transition-colors duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#000000"
      >
        <path
          d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"
        />
      </svg>
      <span class="text-black">Say hello</span>
    </a>
    <a
      href="/"
      class="flex justify-center items-center gap-2 border border-solid border-gray-600 bg-transparent p-2 px-4 rounded-md hover:brightness-50 transition-colors duration-300"
    >
      <span class="text-white">View work</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#F3F3F3"
      >
        <path
          d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"
        />
      </svg>
    </a>
  </div>
  <div class="flex justify-center items-center gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="#666666"
    >
      <path
        d="M536.5-503.5Q560-527 560-560t-23.5-56.5Q513-640 480-640t-56.5 23.5Q400-593 400-560t23.5 56.5Q447-480 480-480t56.5-23.5ZM480-186q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"
      />
    </svg>
    <span class="text-content-dark text-sm"
      >Johannesburg, Gauteng, South Africa</span
    >
  </div>
</div>
