<div class="flex justify-start items-start flex-col gap-4">
  <h1 class="text-content-highlight text-2xl">ABOUT</h1>
  <h1 class="text-content-light text-3xl">A bit about me</h1>
  <h2 class="text-content-dark">
    I'm a full stack developer with over 2 years of professional experience
    building scalable, production-grade web applications, cloud workflows and
    data-driven tools. Strong foundation in API design, database management, and
    cloud infrastructure. Passionate about creating efficient and user-friendly
    solutions that drive business success. I care deeply about writing clean,
    maintainable code and am always eager to learn new technologies and best
    practices in the ever-evolving world of software development.
  </h2>
  <h2 class="text-content-dark">
    When I'm not building applications, you'll find me exploring the latest tech
    trends and learning new technologies.
  </h2>
</div>
