<div
  [ngClass]="workStatusModel.borderColour"
  class="flex justify-center items-center gap-2 border border-solid w-fit px-3 rounded-xl backdrop-opacity-5"
>
  <span
    class="animate-ping rounded-full flex justify-center items-center text-xs"
  >
    <span
      [ngClass]="workStatusModel.pingAnimationColour"
      class="inline-flex h-2 w-2 rounded-full opacity-75"
    ></span>
  </span>
  <span [ngClass]="workStatusModel.textColour" class="text-base">{{
    workStatusModel.workStatus
  }}</span>
</div>
