/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
  --primary-highlight: #10b77f;
  --primary-text-color: #737b8c;
  --secondary-text-color: #2d3748;
  --accent-color: #4a5568;
  --primary-text-color-light: #edf2f7;
  --background-color: #1a202c;
  --error-color: #e53e3e;
}

html {
  scroll-behavior: smooth;
}

.text-content-light {
  color: var(--primary-text-color-light);
}

.text-content-dark {
  color: var(--primary-text-color);
}

.text-content-highlight {
  color: var(--primary-highlight);
}

.text-content-error {
  color: var(--error-color);
}

a:hover {
  color: var(--accent-color);
}

.button-primary:hover {
  cursor: pointer;
}

.sidemenu a:hover {
  border-bottom: var(--accent-color) 1px solid;
}

.hidden {
  display: none;
}

.lime {
  background-color: #10b77f;
}

@media (max-width: 768px) {
  .hamburger {
    display: block !important;
  }
  .header-nav {
    display: none !important;
  }
  .small-screen {
    padding: 3px 5px;
    margin: 0;
  }
}
