<div class="check flex w-full">
  <div class="flex-1 flex flex-col">
    <app-header-component></app-header-component>
    <main class="flex-1 p-4 gap-40 flex flex-col pb-20">
      <app-home class="h-screen flex justify-center"></app-home>
      <app-about class="flex justify-center"></app-about>
      <app-skills class="flex justify-start"></app-skills>
      <app-work-experience class="flex justify-start"></app-work-experience>
      <app-projects class="flex justify-start"></app-projects>
      <app-contact class="flex justify-start"></app-contact>
    </main>
    <app-footer></app-footer>
  </div>
</div>
